<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header header-modal">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="block-number">Número de Manzana</label>
                                <input type="text" name="block-number" class="form-control" [(ngModel)]="block.blockNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="capacity">Capacidad</label>
                                <input class="form-control" type="number" name="capacity" id="capacity" (keyup)="setRemaining($event.target.value)"
                                    [(ngModel)]="block.capacity">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="remaining">Restantes</label>
                                <input type="text" name="remaining" id="remaining" class="form-control" 
                                    [(ngModel)]="block.remaining" disabled>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" id="cerrar-button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-warning" role="button" (click)="create()" data-dismiss="modal">Registrar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
