<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{title}}</h1>
                <br>
                <a class="btn bg-gradient-success" [routerLink]="['/terrains/create']">
                    <i class="fas fa-plus-circle"></i>
                    Nuevo
                </a>&nbsp;
                
                <button class="btn btn-outline-warning" onclick="location.reload()">
                    <i class="fas fa-sync"></i>
                    Cargar
                </button>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card">
    <div class="card-header">
        Listado de Lotes
    </div>
    <div class="card-body table-responsive">

        <div class="row">
            <form action="">
                <div class="form-group">
                    <label for="block">Manzana</label>
                    <select name="block" id="block" class="form-control" (change)="loadTerrainsByBlock($event.target.value)">
                        <option value="null">Elije una Manazana</option>
                        <option *ngFor="let block of blocks" value="{{block.blockId}}">
                            {{block.blockNumber}}
                        </option>
                    </select>
                </div>
                
            </form>
        </div>
        
        
        <div *ngIf="terrains?.length == 0" class="alert alert-info alert-dismissible">
            <h5>
                <i class="icon fas fa-info"></i>
                Atención!
            </h5>

            No existe ningún lote registrado en la Base de Datos!
        </div>

        <table id="terrains" class="table table-hover table-striped table-bordered dataTable dtr-inline table-sm" role="grid"
            *ngIf="terrains?.length > 0">
            <thead>
                <tr>
                    <th>Número de Lote</th>
                    <th>Precio</th>
                    <th>Largo</th>
                    <th>Ancho</th>
                    <th>Área</th>
                    <th>Manzana</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let terrain of terrains">
                    <td>{{terrain.terrainNumber}}</td>
                    <td>{{terrain.price}}</td>
                    <td>{{terrain.length}} mts</td>
                    <td>{{terrain.width}} mts</td>
                    <td>{{terrain.area}} mts <sup>2</sup></td>
                    <td>{{terrain.block.blockNumber}}</td>
                    <td>
                        <span class="badge" [ngClass]="{'badge-success': terrain.status.statusId === 10,
                                                        'badge-warning': terrain.status.statusId === 12,
                                                        'badge-info': terrain.status.statusId === 11,
                                                        'badge-danger': terrain.status.statusId === 13}">
                            {{terrain.status.status}}
                        </span>
                    </td>
                    <td class="center-options">

                        <button class="btn bg-gradient-secondary" type="button" name="info"
                            [routerLink]="['/sales/create', terrain.terrainId]" [disabled]="terrain.status.status != 'En Venta'">

                            <i class="fas fa-share-square"></i>
                            Vender
                        </button>&nbsp;

                        <button class="btn bg-gradient-warning" type="button" name="edit" 
                                [routerLink]="['/terrains/create', terrain.terrainId]" [disabled]="terrain.status.status != 'En Venta'">

                            <i class="fas fa-edit"></i>
                            Editar
                        </button>&nbsp;

                        <button class="btn bg-gradient-danger" type="button" name="delete" (click)="delete(seller)"
                            [disabled]="terrain.status.status != 'En Venta'">

                            <i class="fas fa-trash-alt"></i>
                            Inactivar
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Número de Lote</th>
                    <th>Precio</th>
                    <th>Largo</th>
                    <th>Ancho</th>
                    <th>Área</th>
                    <th>Manzana</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
