.center-elements{
    height: 75%;
    float: none;
    text-align: center;
}

.size{
    width: 145px;
    height: 110px;
}

.steps-images{
    width: 100px;
}

.display-3{
    font-family: fangsong;
}

/* Form Renew */

.labels{
    display: block;
}

.inputs{
    display: inline;
    width: 75%;
}

.search-buttons{
    margin-left: 5px;
}
