<!-- SELLERS DETAIL MODAL -->
<app-detail-seller [seller]="seller"></app-detail-seller>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{title}}</h1>
                <br>
                <a class="btn bg-gradient-success" [routerLink]="['/admin/sellers/create']">
                    <i class="fas fa-plus-circle"></i>
                    Nuevo
                </a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card">
    <div class="card-header">
        Listado de Vendedores
    </div>
    <div class="card-body table-responsive">

        <div *ngIf="sellers?.length == 0" class="alert alert-info alert-dismissible">
            <h5>
                <i class="icon fas fa-info"></i>
                Atención!
            </h5>

            No existe ningún vendedor registrado en la Base de Datos!
        </div>

        <table id="sellers" class="table table-hover table-striped table-bordered dataTable dtr-inline table-sm" role="grid"
            *ngIf="sellers?.length > 0 || sellers">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Apellidos(s)</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let seller of sellers">
                    <td>{{seller.sellerId}}</td>
                    <td>{{seller.firstName}}</td>
                    <td>{{seller.middleName}}</td>
                    <td>{{seller.lastName}}</td>
                    <td>
                        <span class="badge" [ngClass]="{'badge-success': seller.status.statusId === 1}">
                            {{seller.status.status}}
                        </span>
                    </td>
                    <td class="center-options">

                        <button class="btn bg-gradient-info" type="button" name="info"
                            data-toggle="modal" data-target="#modal-detail" (click)="sellerDetail(seller)">
                            <i class="fas fa-info-circle"></i>
                            Detalle
                        </button>&nbsp;

                        <button class="btn bg-gradient-warning" type="button" name="edit" 
                                [routerLink]="['/admin/sellers/create', seller.sellerId]">
                            <i class="fas fa-edit"></i>
                            Editar
                        </button>&nbsp;

                        <button class="btn bg-gradient-danger" type="button" name="delete" (click)="delete(seller)">
                            <i class="fas fa-trash-alt"></i>
                            Inactivar
                        </button>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Apellidos(s)</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>