<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/sales/create/step-1']">Paso 1</a></li>
                    <li class="breadcrumb-item active">{{title}}</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<hr>

<div class="container">
    <h3 class="display-3"><strong>Paso</strong> <img src="assets/images/steps/step-2.PNG" alt="" class="img-fluid steps-images"></h3>
    <p class="lead">Elija un lote para continuar.</p>

    <div class="table-responsive">
        <table id="terrains" class="table table-hover table-striped table-bordered dataTable dtr-inline table-sm" role="grid">
            <thead>
                <tr>
                    <th>Número de Lote</th>
                    <th>Precio</th>
                    <th>Largo</th>
                    <th>Ancho</th>
                    <th>Área</th>
                    <th>Manzana</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let terrain of terrains">
                    <td>{{terrain.terrainNumber}}</td>
                    <td>{{terrain.price}}</td>
                    <td>{{terrain.length}} mts</td>
                    <td>{{terrain.wid}} mts</td>
                    <td>{{terrain.area}} mts<sup>2</sup></td>
                    <td>{{terrain.block.blockNumber}}</td>
                    <td>{{terrain.status.status}}</td>
                    <td>
                        <button class="btn bg-gradient-cyan" (click)="emitToStep3(terrain)" [routerLink]="['/sales/create/step-3']">
                            <i class="fas fa-bullseye"></i>
                            Elegir
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Número de Lote</th>
                    <th>Precio</th>
                    <th>Largo</th>
                    <th>Ancho</th>
                    <th>Área</th>
                    <th>Manzana</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>